{% extends "aggregation/base.html" %}

{% block mainHeaderAbout %}
{% endblock %}
{% block aboutNamePage %}О сайте{% endblock %}
{% block AboutContainerPage %}
<p>Drom.ru — это автомобильный Интернет-портал, сочетающий многогранную и обширную базу информации по автомобилям с современными технологиями общения. Изначально проект охватывал преимущественно японские автомобили, но со временем, по мере роста и переплетения аудитории, акцент начал смещаться в сторону всех авто.

Приобщить человека к миру хороших автомобилей — значит внести в его жизнь больше комфорта. Благодаря сайту Drom.ru ежедневно множество людей узнает что-то новое об этом мире комфорта, в котором автомобиль — это не только средство передвижения, но и средство, призванное доставлять удовольствие от владения им.

Одна из важных наших задач — объединить автовладельцев в единое живое сообщество, дать возможность высказать свое мнение, послушать мнения других и просто поговорить о чем угодно.

Итак, если вам нужна информация об автомобилях, если вам интересно общаться на автомобильные и неавтомобильные темы, если вы хотите найти новых друзей — ваш адрес: www.drom.ru.

Ниже перечислены основные разделы с их короткими описаниями:

ПРОДАЖА АВТО — постоянно пополняемая база частных объявлений о продаже автомобилей в России.

ЗАПЧАСТИ, ТОВАРЫ, УСЛУГИ — доска объявлений от частных лиц и организаций о продаже запчастей, автотоваров, оказании услуг.

ФОРУМЫ — форумы сайта с самого момента открытия стали популярным местом общения у российских владельцев автомобилей. Здесь можно получить полезный совет, найти ответ на свои вопросы, встретить единомышленников. А архив форума, накопленный за много лет, — кладезь полезной информации.

ОТЗЫВЫ — реальные отзывы владельцев авто о своих машинах. Если вы планируете приобрести машину определенной марки, с помощью этого раздела вы узнаете о плюсах и минусах данной модели, и на что нужно обращать внимание при покупке.

КАТАЛОГ — каталог автомобилей, с подробными техническими характеристиками, фотографиями и возможностью сравнивать модели автомобилей между собой.

СТАТЬИ — различные материалы общего характера об автомобилях, которые будут интересны широкому кругу автолюбителей. Статьи написаны как профессиональными журналистами, так и простыми автомобилистами. Обзоры новых и старых моделей, статьи о тюнинге, репортажи с выставок и других мероприятий.

АВТОПУТЕШЕСТВИЯ — увлекательные рассказы об автомобильных приключениях и путешествиях по России и другим странам, присылаемые посетителями сайта.

НОВОСТИ — в этом разделе находится подборка автомобильных новостей, обновляемая ежедневно.

ПРАВОВЫЕ ВОПРОСЫ — полезная информация про ПДД, ГИБДД, ДТП, кредитование, страхование и прочее.

ТЮНИНГ И АВТОСПОРТ — статьи, новости, фото, видео, отзывы владельцев спортивных авто, объявления о продаже gt-машин.

ВИДЕО — видеоролики об автомобилях.

ЭНЦИКЛОПЕДИЯ — раздел «Энциклопедия Японских Машин» призван вобрать в себя наиболее полезную и интересную информацию о японских авто: их устройстве, эксплуатации и ремонте и не только.

ИНТЕРНЕТ-МАГАЗИН АВТОЗАПЧАСТЕЙ — если вам нужны запчасти на свою ласточку, наши коллеги из компании «Амаяма» помогут вам в их приобретении и отправке в любой регион России.



Есть вопрос? Нужно связаться с администрацией? Вам сюда: обратная связь (техподдержка)</p>
{% endblock %}
