{% extends "aggregation/base.html" %}
{% load staticfiles %}
{% block aggregationTitlePage %}Автомобили{% endblock %}
{% block addLeftBarStyle %}
<link href="{% static 'aggregation/css/addLeftBar.css' %}" rel="stylesheet">
{% endblock %}

{% block ExtendsSearch %}
<div class="search-panel">
  <div class="search-inner d-flex align-items-center justify-content-center">
    <div class="close-btn">Close <i class="fa fa-close"></i></div>
    <form id="searchForm" action="#">
      <div class="form-group">

      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block SidebarToggleBtn %}
<button class="sidebar-toggle">&#10148;</button>
{% endblock %}
{% block sigebarTogle %}<div class="page-content">{% endblock %}
{% block addLeftBarNav %}
<nav id="sidebar">
  <form>

<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Марка авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Модель авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>КПП</option>
              <option>автомат</option>
              <option>механика</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Топливо</option>
              <option>Бензин</option>
              <option>Дизель</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Кузов</option>
              <option>Седан</option>
              <option>Хэтчбек</option>
              <option>Универсал</option>
  </select>
</div>
<hr>

<span class="col-sm heading">Пробег</span>
  <div class="form-group row">
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <input type="text" placeholder="От" class="form-control">
        </div>
        <div class="col-md">
          <input type="text" placeholder="До" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <span class="col-sm heading">Цена</span>
    <div class="form-group row">
      <div class="col-sm">
        <div class="row">
          <div class="col-md">
            <input type="text" placeholder="От" class="form-control">
          </div>
          <div class="col-md">
            <input type="text" placeholder="До" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <hr>
  <ul class="list-unstyled">
    <!-- <li><a href="#" class="search-open nav-link"> Больше настроек </a>  </li>-->
    <li><a href="#" class="nav-link"> Поиск </a>  </li>
  </ul>
</form>
</nav>

<!-- Sidebar Navigation end-->
{% endblock %}


{% block sorting %}
<form>
  <div class="form-group row">
      <div class="col">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-4">
          </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
          Год выпуска
        </div>
        <div class="col-md-2">
          Цена
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block listAuto %}
{% for ad in ads %}
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <div class="form-group row">
          <div class="col">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ ad.Picture }}" class="img-fluid"></img>
              </div>
              <div class="col-md-7">
                <a href="{% url 'objectPage' pk=ad.id %}" class="objectLink"><strong>{{ ad.AdName }}</strong></a>
                    {% if ad.minDescription != null %}
                  <p>{{ ad.minDescription }}</p>
                  {% else %}
                   <p>Нет описания</p>
                  {% endif %}
              </div>
            <div class="col-md-2">
              <p>Цена: {{ ad.Price }}</p><hr>
              <p>Пробег: {{ ad.Mileage }}</p><hr>
              <p>Год выпуска: {{ ad.YearOfIssue }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
{% endfor %}
<div class="pagination col-lg-12">
    <span class="step-links">
        {% if ads.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ads.number }} of {{ ads.paginator.num_pages }}.
        </span>

        {% if ads.has_next %}
            <a href="?page={{ ads.next_page_number }}">next</a>
            <a href="?page={{ ads.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
