{% extends "aggregation/base.html" %}
{% load staticfiles %}
{% block aggregationTitlePage %}Автомобили{% endblock %}
{% block addLeftBarStyle %}
<link href="{% static 'aggregation/css/addLeftBar.css' %}" rel="stylesheet">
{% endblock %}

{% block ExtendsSearch %}
<div class="search-panel">
  <div class="search-inner d-flex align-items-center justify-content-center">
    <div class="close-btn">Close <i class="fa fa-close"></i></div>
    <form id="searchForm" action="#">
      <div class="form-group">

      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block SidebarToggleBtn %}
<button class="sidebar-toggle">&#10148;</button>
{% endblock %}
{% block sigebarTogle %}<div class="page-content">{% endblock %}
{% block addLeftBarNav %}
<nav id="sidebar">
  <form>

<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Марка авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Модель авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>КПП</option>
              <option>автомат</option>
              <option>механика</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Топливо</option>
              <option>Бензин</option>
              <option>Дизель</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Кузов</option>
              <option>Седан</option>
              <option>Хэтчбек</option>
              <option>Универсал</option>
  </select>
</div>
<hr>

<span class="col-sm heading">Пробег</span>
  <div class="form-group row">
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <input type="text" placeholder="От" class="form-control">
        </div>
        <div class="col-md">
          <input type="text" placeholder="До" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <span class="col-sm heading">Цена</span>
    <div class="form-group row">
      <div class="col-sm">
        <div class="row">
          <div class="col-md">
            <input type="text" placeholder="От" class="form-control">
          </div>
          <div class="col-md">
            <input type="text" placeholder="До" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <hr>
  <ul class="list-unstyled">
    <!-- <li><a href="#" class="search-open nav-link"> Больше настроек </a>  </li>-->
    <li><a href="#" class="nav-link"> Поиск </a>  </li>
  </ul>
</form>
</nav>

<!-- Sidebar Navigation end-->
{% endblock %}


{% block sorting %}
<form>
  <div class="form-group row">
      <div class="col">
        <div class="row">
          <div class="col-md-2">
            Город
          </div>
          <div class="col-md-4">
          </div>
        <div class="col-md-2">
          Год
        </div>
        <div class="col-md-2">
          Цена
        </div>
        <div class="col-md-2">
          Дата
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block listAuto %}
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <div class="form-group row">
          <div class="col">
            <div class="row">
              <div class="col-md-3">
                <p>Изображение</p>
              </div>
              <div class="col-md-7">
                <a href="{% url 'objectPage' %}" class="objectLink"><strong>Короткое описание Lorem ipsum dolor </strong></a>
                  <p>Описание Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            <div class="col-md-2">
              <p>Цена</p>
              <p>Пробег</p>
              <p>Год выпуска</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <div class="form-group row">
          <div class="col">
            <div class="row">
              <div class="col-md-3">
                <p>Изображение</p>
              </div>
              <div class="col-md-7">
                <a href="{% url 'objectPage' %}" class="objectLink"><strong>Короткое описание Lorem ipsum dolor </strong></a>
                  <p>Описание Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            <div class="col-md-2">
              <p>Цена</p>
              <p>Пробег</p>
              <p>Год выпуска</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <div class="form-group row">
          <div class="col">
            <div class="row">
              <div class="col-md-3">
                <p>Изображение</p>
              </div>
              <div class="col-md-7">
                <a href="{% url 'objectPage' %}" class="objectLink"><strong>Короткое описание Lorem ipsum dolor </strong></a>
                  <p>Описание Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            <div class="col-md-2">
              <p>Цена</p>
              <p>Пробег</p>
              <p>Год выпуска</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock %}
