{% extends "aggregation/base.html" %}
{% load staticfiles %}

{% block addLeftBarStyle %}
<link href="{% static 'aggregation/css/addLeftBar.css' %}" rel="stylesheet">
{% endblock %}

{% block ExtendsSearch %}
<div class="search-panel">
  <div class="search-inner d-flex align-items-center justify-content-center">
    <div class="close-btn">Close <i class="fa fa-close"></i></div>
    <form id="searchForm" action="#">
      <div class="form-group">

      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block SidebarToggleBtn %}
<button class="sidebar-toggle">&#10148;</button>
{% endblock %}
{% block sigebarTogle %}<div class="page-content">{% endblock %}
{% block addLeftBarNav %}
<!-- Sidebar Navigation-->



<nav id="sidebar">
  <!--<span class="heading">Main</span>

  <ul class="list-unstyled">
          <li><a href="#"> Home </a></li>
          <li><a href="#"> Tables </a></li>
          <li><a href="#"> Charts </a></li>
          <li class="active"><a href="forms.html"> Forms </a></li>
          <li><a href="#" class="search-open nav-link"> Больше настроек </a></li>
            </ul>
          </li>
  </ul>-->

<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Марка авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Модель авто</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>КПП</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Топливо</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<div class="row">
  <select name="account col-sm" class="form-control" >
              <option>Кузов</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
  </select>
</div>
<hr>

<span class="col-sm heading">Пробег</span>
  <div class="form-group row">
    <div class="col-sm">
      <div class="row">
        <div class="col-md">
          <input type="text" placeholder="От" class="form-control">
        </div>
        <div class="col-md">
          <input type="text" placeholder="До" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <span class="col-sm heading">Цена</span>
    <div class="form-group row">
      <div class="col-sm">
        <div class="row">
          <div class="col-md">
            <input type="text" placeholder="От" class="form-control">
          </div>
          <div class="col-md">
            <input type="text" placeholder="До" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <hr>
  <ul class="list-unstyled">
    <!-- <li><a href="#" class="search-open nav-link"> Больше настроек </a>  </li>-->
    <li><a href="#" class="nav-link"> Поиск </a>  </li>
  </ul>
</nav>

<!-- Sidebar Navigation end-->
{% endblock %}
{% block hideUselessText %}{% endblock %}

{% block sorting %}
<p>some sorting</p>
{% endblock %}

{% block listAuto %}
<a href="{% url 'objectPage' %}"> some auto</a>
<hr>
<p>some auto</p>
<hr>
<p>some auto</p>
<hr>
<p>some auto</p>
<hr>
<!-- ЗДЕСЬ БУДУТ ОБЪЯВЛЕНИЯ -->
<!-- ЗДЕСЬ БУДУТ ОБЪЯВЛЕНИЯ -->
<!-- ЗДЕСЬ БУДУТ ОБЪЯВЛЕНИЯ -->
<!-- ЗДЕСЬ БУДУТ ОБЪЯВЛЕНИЯ -->
<!-- ЗДЕСЬ БУДУТ ОБЪЯВЛЕНИЯ -->
{% endblock %}

{% block hidesomething %}
{% endblock %}
