{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Войти</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'aggregation/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="{% static 'aggregation/css/font.css' %}">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'aggregation/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'aggregation/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">

  </head>
  <body>
    <div class="login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Добро пожаловать!</h1>
                  </div>
                  <a  href="{% url 'mainPage' %}" class="btn btn-secondary">Назад</a>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form id="login-form" method="post">
                    <div class="form-group">
                      <input id="login-username" type="text" name="loginUsername" required="" class="input-material">
                      <label for="login-username" class="label-material">Имя пользователя</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="loginPassword" required="" class="input-material">
                      <label for="login-password" class="label-material">Пароль</label>
                    </div><a id="login" href="index.html" class="btn btn-primary">Войти</a>

                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form><small>У вас нет аккаунта? </small><a data-toggle="modal" data-target="#myModal" href="register.html" class="signup">Создать</a>
                </div>
              </div>
            </div>
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Signin Modal</strong>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <form>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" placeholder="Email Address" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Signin" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="{% static 'aggregation/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'aggregation/vendor/popper.js/umd/popper.min.js' %}"> </script>
    <script src="{% static 'aggregation/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aggregation/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
    <script src="{% static 'aggregation/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'aggregation/js/front.js' %}"></script>
  </body>
</html>
