{% extends "aggregation/base.html" %}

{% block objectNamePage %}Объявление{% endblock %}
{% block objectContainer %}
<!--
<div class="col-lg-12">
  <div class="block">
    <div class="title"><strong>Название</strong></div>
  </div>
</div>
-->
<!-- Inline Form-->
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <div class="form-group row">
          <div class="col">
            <div class="row">
              <div class="col-lg-7" style="border-right:2px solid #2e2e2e;">
                  <div class="title"><strong>{{ ad.AdName }}</strong></div>
                  <div class="block-body">
                      <img src="{{ ad.Picture }}" class="img-fluid" style="display:block; margin-left:auto; margin-right:auto;">
                  </div>
              </div>
              <!-- Modal Form-->
              <div class="col-lg-3" style="border-right:2px solid #2e2e2e;">
                  <br><br>
                  <div class="title"><strong>Цена: {{ ad.Price }} руб.</strong></div><br><hr><br>
                  <div class="title"><strong>Пробег: {{ ad.Mileage }} км</strong></div><br><hr><br>
                  <div class="title"><strong>Марка автомобиля: {{ ad.MarkAuto }}</strong></div><br><hr><br>
                  <div class="title"><strong>Модель автомобиля: {{ ad.ModelAuto }}</strong></div>
               </div>
               <div class="col-lg-2">
                 <br><br>
                  {% if ad.Avito.linkOnAd != null %}
                 <a style="float:right;"  href="{{ ad.Avito.linkOnAd }}" class="btn btn-secondary">Авито</a><br><br>
                  {% endif %}
                  {% if ad.Drom.linkOnAd != null %}
                 <a style="float:right;" href="{{ ad.Drom.linkOnAd }}" class="btn btn-secondary">Дром</a><br><br>
                  {% endif %}
                  {% if ad.Youla.linkOnAd != null %}
                 <a style="float:right;" href="{{ ad.Youla.linkOnAd }}" class="btn btn-secondary">Юла</a><br><br>
                  {% endif %}
                  {% if ad.AMru.linkOnAd != null %}
                 <a style="float:right;" href="{{ ad.AMru.linkOnAd }}" class="btn btn-secondary">АМру</a>
                  {% endif %}
               </div>
             </div>
             </div>
             </div>
             </div>
             </div>
             </div>

            <!-- comments-->
            <div class="col-lg-6">
              <div class="block">
                <div class="title"><strong>Характеристики</strong></div>
                <div class="block-body">
                  <p>Год выпуска: {{ ad.YearOfIssue }}</p><hr>
                  <p>Количество владельцев: {{ ad.NumberOfOwners }}</p><hr>
                  <p>Цвет: {{ ad.Color }}</p><hr>
                  <p>Коробка передач: {{ ad.TransmissionType }}</p><hr>
                  <p>Привод: {{ ad.DriveUnit }}</p>

                </div>
              </div>
            </div>
            <!-- Modal Form-->
            <div class="col-lg-6">
              <div class="block">
                <div class="block-body">
                  <br><br>
                  <p>Марка автомобиля: {{ ad.MarkAuto }}</p><hr>
                  <p>Модель автомобиля: {{ ad.ModelAuto }}</p><hr>
                  <p>Тип кузова: {{ ad.BodyType }}</p><hr>
                  <p>Объём двигателя: {{ ad.EngineCapacity }}</p><hr>
                  <p>Мощьность двигателя: {{ ad.EnginePower }}</p>
                </div>
               </div>
             </div>

            <div class="col-lg-12">
               <div class="block">
                 <div class="title"><strong>Описание</strong></div>
                 <p>{{ ad.Description }}</p>
               </div>
            </div>
            <!-- comments-->
            <div class="col-lg-12">
              <div class="block">
                <div class="title"><strong>Комментарии</strong></div>
              </div>
            </div>
{% endblock %}
