{% extends "aggregation/base.html" %}

{% block objectNamePage %}Объявление{% endblock %}
{% block objectContainer %}

<div class="col-lg-12">
  <div class="block">
    <div class="title"><strong>Регулярка с названием</strong></div>
  </div>
</div>
<!-- Inline Form-->
              <div class="col-lg-8">
                <div class="block">
                  <div class="title"><strong>Изображение</strong></div>
                  <div class="block-body">

                  </div>
                </div>
              </div>
              <!-- Modal Form-->
              <div class="col-lg-4">
                <div class="block">
                  <div class="title"><strong>Короткое описание</strong></div>

                 </div>
               </div>
            <!-- comments-->
            <div class="col-lg-12">
               <div class="block">
                 <div class="title"><strong>Описание</strong></div>
               </div>
            </div>
            <!-- comments-->
            <div class="col-lg-12">
              <div class="block">
                <div class="title"><strong>Комментарии</strong></div>
              </div>
            </div>
{% endblock %}
